.container {
  margin: 40px;
}

.passwordContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.resetButton {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}